<table class="movies-list">
    <tr class="row col-sm-12">
        <th class="col-sm-3">Poster</th>
        <th class="col-sm-7">Title</th>
        <th class="col-sm-1">Year</th>
        <th class="col-sm-1">Raiting</th>
    </tr>
    <tbody>
        <tr class="row col-sm-12" mvdb-movie-short *ngFor="let movie of (movies | sort: 'Title': 'Desc')" [movie]="movie"></tr>
        <!--<tr>
            <mvdb-movie-short *ngFor="let movie of movies" [movie]="movie"></mvdb-movie-short>
        </tr>-->
    </tbody>
</table>