<!--{
    "Title":"Bat*21",
    "Year":"1988",
    "Rated":"R",
    "Released":"21 Oct 1988",
    "Runtime":"105 min",
    "Genre":"Drama, War",
    "Director":"Peter Markle",
    "Writer":"William C. Anderson (book), William C. Anderson (screenplay), George Gordon (screenplay)",
    "Actors":"Gene Hackman, Danny Glover, Jerry Reed, David Marshall Grant",
    "Plot":"During the Vietnam War, Colonel Hambleton's aircraft is shot down over enemy territory and a frantic rescue operation ensues.",
    "Language":"English",
    "Country":"USA",
    "Awards":"1 nomination.",
    "Poster":"https://images-na.ssl-images-amazon.com/images/M/MV5BMjA3MjM1NzUyNF5BMl5BanBnXkFtZTYwNjYyNjg4._V1_SX300.jpg",
    "Metascore":"N/A",
    "imdbRating":"6.4",
    "imdbVotes":"6,383",
    "imdbID":"tt0094712",
    "Type":"movie",
    "Response":"True"
    }-->
<div class="movie-container">
    <img src="{{poster}}" alt="Poster" class="col-sm-4">
    <div class="col-sm-8">
        <div class="col-sm-2">Title: </div>
        <h3 class="col-sm-6">{{title}}</h3>
    </div>
    <div class="col-sm-8">
        <div class="col-sm-2">Year: </div>
        <div class="col-sm-6">{{Year}}</div>
    </div>
    <div class="col-sm-8">
        <div class="col-sm-2">Released: </div>
        <div class="col-sm-6">{{Released}}</div>
    </div>
    <div class="col-sm-8">
        <div class="col-sm-2">Director: </div>
        <div class="col-sm-6">{{Director}}</div>
    </div>
    <div class="col-sm-8">
        <div class="col-sm-2">Writer: </div>
        <div class="col-sm-6">{{Writer}}</div>
    </div>
</div>