<!--{
    "Title":"Bat*21",
    "Year":"1988",
    "Rated":"R",
    "Released":"21 Oct 1988",
    "Runtime":"105 min",
    "Genre":"Drama, War",
    "Director":"Peter Markle",
    "Writer":"William C. Anderson (book), William C. Anderson (screenplay), George Gordon (screenplay)",
    "Actors":"Gene Hackman, Danny Glover, Jerry Reed, David Marshall Grant",
    "Plot":"During the Vietnam War, Colonel Hambleton's aircraft is shot down over enemy territory and a frantic rescue operation ensues.",
    "Language":"English",
    "Country":"USA",
    "Awards":"1 nomination.",
    "Poster":"https://images-na.ssl-images-amazon.com/images/M/MV5BMjA3MjM1NzUyNF5BMl5BanBnXkFtZTYwNjYyNjg4._V1_SX300.jpg",
    "Metascore":"N/A",
    "imdbRating":"6.4",
    "imdbVotes":"6,383",
    "imdbID":"tt0094712",
    "Type":"movie",
    "Response":"True"
    }-->
<div class="movie-container">
    <img src="{{getKey('Poster')}}" alt="Poster" class="col-sm-4">
    <dl class="dl-horizontal col-sm-8">
        <dt>Title: </dt>
        <dd>{{getKey('Title')}}</dd>
        <dt>Year: </dt>
        <dd>{{getKey('Year')}}</dd>
        <dt>Released: </dt>
        <dd>{{getKey('Released')}}</dd>
        <dt>Director: </dt>
        <dd>{{getKey('Director')}}</dd>
        <dt>Writer: </dt>
        <dd>{{getKey('Writer')}}</dd>
        <dt>Language: </dt>
        <dd>{{getKey('Language')}}</dd>
        <dt>Plot: </dt>
        <dd>{{getKey('Plot')}}</dd>
        <dt>Actors: </dt>
        <dd>{{getKey('Actors')}}</dd>
        <dt>Genre: </dt>
        <dd>{{getKey('Genre')}}</dd>
        <dt>Runtime: </dt>
        <dd>{{getKey('Runtime')}}</dd>
    </dl>
</div>